<mat-card>
  <mat-horizontal-stepper linear #stepper>
    <mat-step [stepControl]="clienteFormGroup">
      <ng-template matStepLabel>Clientes</ng-template>
      <form [formGroup]="clienteFormGroup">
        <mat-accordion>
          <mat-expansion-panel (opened)="panelOpenState = false">
            <mat-expansion-panel-header>
              <mat-panel-title>
                Datos del cliente
              </mat-panel-title>
              <mat-panel-description>
                Ingrese un nuevo cliente
              </mat-panel-description>
            </mat-expansion-panel-header>

            <mat-form-field>
              <input matInput placeholder="Nit" formControlName="nit" required>
            </mat-form-field>

            <mat-form-field>
              <input matInput placeholder="Nombre" formControlName="nombre" required>
            </mat-form-field>

            <mat-form-field>
              <input matInput placeholder="Dirección" formControlName="direccion" required>
            </mat-form-field>
            <div>
              <button type="submit" mat-raised-button color="primary"
                (click)="onSubmitCliente()">{{accionCliente}}</button>
            </div>
          </mat-expansion-panel>
        </mat-accordion>
      </form>
      <h2>Buscar clientes</h2>
      <!-- Mat-table FILTER -->
      <mat-form-field>
        <input matInput placeholder="Ingrese un valor de busqueda" (keyup)="applyFilter($event.target.value)" autofocus>
      </mat-form-field>
      <div class="mat-elevation-z8">
        <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
          <!-- Position Column -->
          <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Nit </th>
            <td mat-cell *matCellDef="let element"> {{element.id}}</td>
          </ng-container>

          <!-- Name Column -->
          <ng-container matColumnDef="nombre">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Nombre </th>
            <td mat-cell *matCellDef="let element"> {{element.nombre}} </td>
          </ng-container>

          <!-- Name Column -->
          <ng-container matColumnDef="direccion">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Dirección </th>
            <td mat-cell *matCellDef="let element"> {{element.direccion}} </td>
          </ng-container>

          <!-- Columna de acciones -->
          <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef>Acciones</th>
            <td mat-cell *matCellDef="let element; let i = index">
              <button mat-icon-button color="accent" matTooltip="Preparar el pedido" matTooltipPosition="right"
                (click)="agregarPedido(element.id,element.nombre, element.direccion,stepper)">
                <mat-icon>shopping_cart</mat-icon>
              </button>
            </td>
          </ng-container>
          <ng-container matColumnDef="loading">
            <td mat-footer-cell *matFooterCellDef colspan="6">
              <mat-progress-bar mode="indeterminate"></mat-progress-bar>
            </td>
          </ng-container>

          <ng-container matColumnDef="noData">
            <td mat-footer-cell *matFooterCellDef colspan="6">
              <mat-icon>sync_problem</mat-icon>
              Ninguna coincidencia
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          <tr mat-footer-row *matFooterRowDef="['loading']" [ngClass]="{hide:dataSource.data!=null}"></tr>
          <tr mat-footer-row *matFooterRowDef="['noData']" [ngClass]="{hide:!(paginator.length==0)}"></tr>
        </table>
        <mat-paginator #paginator [length]="dataLength?.length" [pageSize]="5" [pageSizeOptions]="[5, 10, 15, 20]"
          showFirstLastButtons>
        </mat-paginator>
      </div>
      <br>
      <div>
        <button mat-raised-button color="primary" matStepperNext>Siguiente</button>
      </div>
    </mat-step>
    <!--TERMINA EL PRIMER STEPPER... EL DE VALIDACIÓN DE CLIENTE
                      EMPIEZA EL STEPPER VISTA DE PEDIDOS NO FACTURADOS-->
    <mat-step>
      <ng-template matStepLabel>Pedidos</ng-template>
      <app-facturas-cliente></app-facturas-cliente>
    </mat-step>
    <!--TERMINA EL SEGUNDO STEPER EMPIEZA EL STEPPER DE CARGA DE PEDIDO-->
    <mat-step [stepControl]="pedidoFormGroup">
      <form [formGroup]="pedidoFormGroup">
        <ng-template matStepLabel>Productos</ng-template>
        <mat-form-field style="display: none">
          <input matInput placeholder="Address" formControlName="adress" required>
        </mat-form-field>
      </form>
      <!-- Mat-table FILTER -->
      <div>
        <h2>Buscar productos</h2>
      </div>
      <app-inventario-pedido></app-inventario-pedido>
    </mat-step>
    <mat-step>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button (click)="stepper.reset()">Reset</button>
      </div>
    </mat-step>
  </mat-horizontal-stepper>
</mat-card>